@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

body {
  font-family: 'Droid Sans', sans-serif;
  /*background-color: #FEFCFF;*/
  background-image: url(/images/cream_pixels.png);
  /*background-color:black;*/
}

.graphic {
  background-color: white;
  border: solid 1px #ddd;
  border-radius: 10px 10px 10px 10px;
  border-top: none;
}



#chartdiv {
  width   : 100%;
  height    : 500px;
  font-size : 11px;
} 