@import url(https://fonts.googleapis.com/css?family=Roboto|Montserrat|Titillium+Web|Poiret+One|Raleway);

body {
  color: #bbbbbb;
  background-color: #333333;
}

h3 {
  font-family: 'Poiret One', cursive;
  text-align: center;
  color: orange;
}

div.output {
  font-family: 'Courier New';
  background-color: #444444;
}

span.hl {
  color: orange;
  font-family: 'Raleway', sans-serif;
  text-align: right;
  font-size: 1em;
}

div.mid {
  text-align: center;
}

code {
  color: orange;
}

pre {
  font-family: 'Courier New';
}