@import url(https://fonts.googleapis.com/css?family=Roboto|Montserrat|Titillium+Web|Poiret+One|Raleway);

body {
  background-color: #eee;
}

.chartdiv {
  width: 100%;
  height: 400px;
  font-size: 11px;
  border: 0;
  background-color: white;
}



.container{
  margin-top: 50px;
}

.head-brandname {
  padding-top: 9px;
  color: orange;
/*  position: fixed;*/
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  font-size: 30px;
  font-family: 'Poiret One', cursive;
  font-weight: 500;
  top: 0px;
}

.chartdiv#chartdivcompany {
  border-radius: 10px;
  position: relative;
  top: 10px;
  width: 102%;
  left: -10px;
}

.chartdiv#chartdivtopics {
  border-radius: 10px;
  position: relative;
  top: 10px;
  margin-bottom: 50px;
}