.jawn {
  position: relative;
  background-color: #F8E71C;
  width: 20px;
  height: 20px;
  margin: 20% auto;/*0 auto;*/ 
  border-radius: 50%;
}
.jawn:after, .jawn:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.jawn:after {
  left: -30px;
  top: -15px;
  background-color: #C7C2A6;
  transform-origin: 45px 30px;
  animation: axis 1.5s linear infinite;
}
.jawn:before {
  left: -50px;
  top: -30px;
  background-color: #009bff;
  transform-origin: 60px 40px;
  animation: axis 3s linear infinite;
}

@keyframes axis {
  0% {
    transform: rotateZ(0deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0, 0, 0);
  }
}
